h1 {
	color: white;
	font-size: 36px;
	font-family: "Kaushan Script";
}

h2 {
	color: white;	
	font-size: 24px;
	font-family: Times New Roman, Times, serif;
}

#cabecalho {
	background-color: #6175f0;
}